html,body{
    margin:0;
    padding:0;
    background-color: #d6d6d6;
    font-family: 'EB Garamond';font-size: 22px;
}

/* header styling */

header{
    background-color: #4e4e4e;
    padding:0;
    margin:0;
    color: #cbcbcb;
    font-family: 'EB Garamond';font-size: 22px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin:0px;
    font-size: 60px;
}

nav{
    margin-right: 10%;
}

nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{  
    margin: 5px 10px;
    font-size: 35px;
    padding:10px;
    background-color: black;
    border: solid white 1px;
    border-radius: 5px;
}

nav li a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
}


/*Homepage*/
/* homepage opening */

.opening-image{
    background-image: url("media/background.jpg");
    background-size:100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.about-us{
    max-width: 320px;
    text-align:center;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 7%;
    opacity: 80%;
}

.about-us h1{
    font-size: 40px;
    margin:0;
}

.about-us-text{
    background-color: #aaaaaa;
    padding: 5px 10px;
}

.about-us-text h1, .about-us-text p{
    opacity:100%
}

/* homepage bottom */
.index-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}

.schedule{
    text-align: center;
    text-wrap: wrap;
}

.schedule h1{
    font-size: 50px;
    margin: 10px;
    text-decoration: underline;
}

iframe{
    padding:0;
    box-shadow: 12px 12px 12px rgba(0,0,0 ,0.2),
    -10px -10px 10px white;
    border: solid black;
    border-radius: 10px;
}


/* footer styling */
footer a{
    color: black;
    font-size: 30px;
    margin-left: 10px;
}

/*Pricing page*/
#store-body{
    background-image: url("media/store-background.jpg");
    background-size:100%;
    background-size: cover;
}

h1{
    text-align: center;
}

/*Shop Container*/
.shop-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.shop-box{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #737373;
    margin: 20px;
    border: solid #f3f3f3 7px;
    border-radius: 2px;
    opacity: 95%;
}

.shop-box img{
    width: 55%;
    min-width: 250px;
    margin: 10px;
    border: solid black 3px;
    border-radius: 10px;
}

.shop-text{
    min-width: 170px;
}

footer{
    background-color: #d6d6d6;
}


@media screen and (max-width: 999px){
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .title{
        font-size: 50px;
    }

    .index-bottom{
        flex-direction: column;
        align-items: center;
    }

    .shop-box img{
        width: 80%;
    }

    .shop-text{
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    iframe{
        width: 100%;
        height: 100%;
    }

    .opening-image{
        align-items: center;
    }
}